---
layout: layout-page.njk
title: Página de Acerca
description: Meta descripción de la página de acerca
---

<h1>{{ title }}</h1>
<h2>AnderGGZ</h2>
<hr>
<p>
 Estudiante de Ciberseguridad y trabajo en la seguridad
</p>